<config>
    <fieldset
            name="eventbrite"
            label="COM_EVENTBRITE_CONFIG_EVENTBRITE_SETTINGS_LABEL"
            description="COM_EVENTBRITE_CONFIG_EVENTBRITE_SETTINGS_DESC">

        <field  name="client_secret"
                type="text"
                label="COM_EVENTBRITE_CONFIG_EVENTBRITE_CLIENT_SECRET_KEY_LABEL"
                description="COM_EVENTBRITE_CONFIG_EVENTBRITE_CLIENT_SECRET_KEY_DESC"
                default=""
                />

        <field  name="personal_oauth"
                type="text"
                label="COM_EVENTBRITE_CONFIG_EVENTBRITE_PERSONAL_OATH_KEY_LABEL"
                description="COM_EVENTBRITE_CONFIG_EVENTBRITE_PERSONAL_OATH_KEY_DESC"
                default=""
                />

        <field  name="anonymous_oauth"
                type="text"
                label="COM_EVENTBRITE_CONFIG_EVENTBRITE_ANONYMOUS_OATH_KEY_LABEL"
                description="COM_EVENTBRITE_CONFIG_EVENTBRITE_ANONYMOUS_OATH_KEY_DESC"
                default=""
                />

        <field  name="app_key"
                type="text"
                label="COM_EVENTBRITE_CONFIG_EVENTBRITE_APP_KEY_LABEL"
                description="COM_EVENTBRITE_CONFIG_EVENTBRITE_APP_KEY_DESC"
                default=""
                />

        <field  name="app_key"
                type="text"
                label="COM_EVENTBRITE_CONFIG_EVENTBRITE_APP_KEY_LABEL"
                description="COM_EVENTBRITE_CONFIG_EVENTBRITE_APP_KEY_DESC"
                default=""
                />
        <field name="organizer_id"
               type="text"
               label="COM_EVENTBRITE_CONFIG_EVENTBRITE_ORGANIZER_ID_LABEL"
               description="COM_EVENTBRITE_CONFIG_EVENTBRITE_ORGANIZER_ID_DESC"
               default=""
               />
    </fieldset>

    <fieldset
        name="descriptions"
        label="COM_EVENTBRITE_CONFIG_EVENTBRITE_SETTINGS_DESCRIPTIONS_LABEL"
        description="COM_EVENTBRITE_CONFIG_EVENTBRITE_SETTINGS_DESCRIPTIONS_DESC">

        <field name="pretext"
               type="editor"
               label="COM_EVENTBRITE_CONFIG_EVENTBRITE_SETTINGS_PRETEXT_LABEL"
               description="COM_EVENTBRITE_CONFIG_EVENTBRITE_SETTINGS_PRETEXT_DESC"
               filter="safehtml"
        />

        <field name="posttext"
               type="editor"
               label="COM_EVENTBRITE_CONFIG_EVENTBRITE_SETTINGS_POSTTEXT_LABEL"
               description="COM_EVENTBRITE_CONFIG_EVENTBRITE_SETTINGS_POSTTEXT_DESC"
               filter="safehtml"
        />

    </fieldset>
</config>